@font-face {
  font-family: helv-47;
  src: url(./assets/fonts/HelveticaNeueW01-47LtCn.woff);
  font-weight: 100;
}
@font-face {
  font-family: helv-57;
  src: url(./assets/fonts/HelveticaNeueW01-57Cn.woff);
  font-weight: normal;
}
@font-face {
  font-family: helv-77;
  src: url(./assets/fonts/HelveticaNeueW01-77BdCn.woff);
  font-weight: normal;
}
body {
  margin: 0;
  padding: 0;
  font-family: Helvetica Neue, read, sans-serif;
  overflow: scroll;
  color: #d3d3d3;
  background-color: #2a2a2a;
}

footer {
  display: flex;
  justify-content: center;
  padding: 15px;
  border-top: 1px solid #eee;
  font-size: 16px;
  font-family: helv-47, Arial;
}
